In [ ]:
'''Question 1

* is an expression. 
'hello' is a value(string). 
-87.8 is a value(integer).
- is an expression. 
/ is an expression.
+ is an expression.
6 is a value(integer).'''

In [ ]:
Question 2

'''A variable is a symbol that holds or stores data while a string is a data type that holds charachters in double quotes. A string can be stored in a variable but the vice-versa is not true.'''

In [ ]:
'''Question 3

There are many data types in Python. Three of them are:

1. Numeric data type(int): This data type includes integers. It further includes types such as complex numbers and float(decimal). 

2. String data type: This data type holds a sequence of characters enclosed in double quotes. (" " or ' ')

3. Boolean data type: This data type includes True and False.'''

In [ ]:
'''Question 4

An expression involves operators and operands. All expressions produce an output in the form of a value or a result.'''

In [ ]:
'''Question 5

An expression involves operations on operands using operators. Expressions produce an output in the form of a value or a result. 

A statement is just executed in a program but does not produce any output. Statements are used for displaying values or assigning data to variables.'''

In [5]:
#Question 6
bacon=22
print(bacon+1)
print("Current value of bacon is:",bacon)
#the following code does not change the assigned value of bacon(22) to 23 as we do not use the = operator.

23
Current value of bacon is: 22

In [ ]:
'''Question 7

The values of both the terms will be 'spamspamspam'''

In [ ]:
'''Question 8

Eggs is a valid variable name while 100 is not a variable name because as per conventions, a variable name must always begin with an underscore or an alphabetic letter. '''

In [8]:
#Question 9
#The 3 built in functions used to get integer,float and string form of a value are:
int() #to convert value to integer. 
float() #to convert value to float(decimal).
str() #to convert value to string.

''

In [ ]:
'''Question 10

The expression 'I have eaten'+ 99 + 'burritos' returns an error as two different data types(string and integer) are trying to be added or concatenated. We can fix it in the following two ways:

1. 'I have eaten'+ str(99) + 'burritos'
2.'I have eaten'+ '99' + 'burritos' '''